<table class="table">
  <tbody>
    <tr>
      <td>Фирма</td>
      <td>{{ product.brend }}</td>
    </tr>
    <tr>
      <td>Мощность котла</td>
      <td>{{ product.power }}</td>
    </tr>
    <tr>
      <td>Тип топлива</td>
      <td>{{ product.fuel_type }}</td>
    </tr>
    <tr>
      <td>Способ монтажа</td>
      <td>{{ product.installation_method }}</td>
    </tr>
    <tr>
      <td>Колличество контуров</td>
      <td>{{ product.presence_contours }}</td>
    </tr>
    <tr>
      <td>Камера сгорания</td>
      <td>{{ product.combustion_chamber }}</td>
    </tr>
  </tbody>
</table>
