<table class="table">
  <tbody>
    <tr>
      <td>Фирма</td>
      <td>{{ product.brend }}</td>
    </tr>
    <tr>
      <td>Тип</td>
      <td>{{ product.tape }}</td>
    </tr>
    <tr>
      <td>Назначение</td>
      <td>{{ product.appointment }}</td>
    </tr>
    <tr>
      <td>Потребляемая мощность</td>
      <td>{{ product.power }}</td>
    </tr>
    <tr>
      <td>Максимальный напор</td>
      <td>{{ product.max_head }}</td>
    </tr>
    <tr>
      <td>Производительность, max (л/мин)</td>
      <td>{{ product.throughput }}</td>
    </tr>
    <tr>
      <td>Макс. рабочее давление')</td>
      <td>{{ product.max_bar }}</td>
    </tr>
  </tbody>
</table>

